*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* BANNER */

.caixa-banner{
    display: flex;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: flex-end;
    background: url(../img/banner-bg.png) center no-repeat;
    background-size: cover;
    color: #ffff;
}

.banner-texto{
    height: 40vh;
    text-align: center;  
}

.banner-titulo{
    font-size: 32px;
}

.banner-subtitulo{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.banner-btn{
    font-size: 18px;
    text-decoration: none;
    color: rgb(110, 61, 155);
    background: #ffff;
    padding: 15px 15px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

/* Seção sobre mim */

.secao_sobre-mim{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 60px;
}

.resumo_sobre-mim{
    display: flex;
}
.resumo{
    width: 50%;
    margin-right: 60px;
}

.minhas-habilidades{
    width: 40%;
}
.resumo-titulo{
    font-size: 45px;
    color: #a99faf;
    margin-bottom: 40px;
}

.resumo-principal{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(121, 72, 121);
}

.resumo-secundario{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
    color: rgb(73, 48, 73);
}

.resumo-btn{
    font-size: 18px;
    padding: 15px;
    background: #AD94BF;
    color: #ffff;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid #a87bac;
}

.caixa-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
strong{
    font-style: italic;
}

.habilidades-titulo{
    font-size: 25px;
    color: #58475a;
}

.habilidades-lista{
    font-size: 18px;
    color: rgb(109, 101, 101);
    line-height: 1.8;
    margin-top: 20px;
}

.caixa-rede-social{
    color: #ffff;
    background: #6e4672;
    height: 140px;
    width: 150px;
    text-align: center;
    padding: 20px;
    margin: 20px;

}

.img-rede-social{
    height: 50px;
}

.titulo-rede-social{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.subtitulo-rede-social{
    font-size: 14px;
}

.container-redes-sociais{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.rodape{
    text-align: center;
    padding: 20px;

}

.nome-rodape{
    color: #484749;
    font-size: 15px;
}

.link-rede-social{
    text-decoration: none;
    color: #ffff;
}





